header {
	position: sticky;
	background-color: white;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.9;
	border-bottom: 1px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__items {
	display: flex;
	justify-content: space-between;
	padding: 5px 20px 5px 20px;
}
